.header {
    background-color: #E73137;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .title h3 {
    color: #FFF;
}

.header .links {
    display: flex;
    gap: 10px;
}

.header .links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.header .links a:hover {
    color: rgb(92, 92, 92);
    border-bottom: 2px solid rgb(92, 92, 92);

}

.header .links .active-link {
    color: #000;
    border-bottom: 2px solid #fff;
}