.header {
    background-color: #E73137;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .title h3 {
    color: #FFF;
}

.header .links {
    display: flex;
    gap: 10px;
}

.header .links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease, border-bottom 0.2s ease;
}

.header .links a:hover {
    color: rgb(225, 210, 210);
    border-bottom: 2px solid rgb(225, 210, 210);
}

.header .links .active-link {
    color: #fff;
    border-bottom: 3px solid #000;
}