.report {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 18px;
    line-height: 1.3;
}

.report:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.report p {
    margin: 0;
    color: #333;
}

.report .list-container {
    margin: 0 10px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.3;
}

.report button {
    background-color: #E73137;
    color: #fff;
    max-width: 10rem;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

/* Push hr to the bottom */
.report hr {
    margin-top: auto;
    width: 100%;
}

.report-files {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    justify-content: space-between;
    /* Ensures items touch edges when necessary */
    width: 100%;
}

.description {
    margin: 0 10px;
}

.description-toggle-btn {
    background-color: #E73137;
    color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
}

.description-toggle-btn:hover {
    background-color: #c90000;
}