.report {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.report:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.report p {
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

.report-files {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.file-item {
    position: relative;
    width: 150px;
    height: 150px;
}

.file-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.file-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.video-container:hover .play-overlay {
    opacity: 1;
}

.play-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.description {
    margin: 0 10px;
    color: #333;
    padding-left: 15px;
}

.description-toggle-btn {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
}

.description-toggle-btn:hover {
    background-color: #c90000;
}

.report .list {
    margin: 0 10px;
    padding-left: 15px;
    font-size: 14px;
    color: #333;
}


/* .report {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.report:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.report p {
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

.report p strong {
    font-weight: bold;
} */